@font-face {
    font-family: 'NanumHumanBold';
    src: url('../fonts/NanumHuman/NanumHumanBold.ttf') format('truetype');
}
@font-face {
    font-family: 'NanumHumanEB';
    src: url('../fonts/NanumHuman/NanumHumanEB.ttf') format('truetype');
}
@font-face {
    font-family: 'NanumHumanHeavy';
    src: url('../fonts/NanumHuman/NanumHumanHeavy.ttf') format('truetype');
}
@font-face {
    font-family: 'NanumHumanLight';
    src: url('../fonts/NanumHuman/NanumHumanLight.ttf') format('truetype');
}
@font-face {
    font-family: 'NanumHumanEB_otf';
    src: url('../fonts/NanumHuman/NanumHumanEB.otf') format('opentype');
}
@font-face {
    font-family: 'NanumHumanBold_otf';
    src: url('../fonts/NanumHuman/NanumHumanBold.otf') format('opentype');
}
@font-face {
    font-family: 'NanumHumanEL_otf';
    src: url('../fonts/NanumHuman/NanumHumanEL.otf') format('opentype');
}
body { 
    margin: 0; 
    font-family: 'NanumHuman';
    color: #808080;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.9;
}
* {
    box-sizing: border-box;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
p {
    margin: 0;
    padding: 0;
}
img {
    margin: 0;
    padding: 0;
    line-height: 0;
    vertical-align: top;
}
.blind {
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
    margin: 0;
}
button {
    cursor: pointer;
    border: 0;
}
h1 {
    margin: 0;
    padding: 0;
}
form, fieldset, img, input, button {
    border: 0 none;
    background: none;
}
.color01 {
    color: #da0000 !important;
}
em {
    font-style: normal;
}
.hide, .skip, .blind {
    position: absolute !important;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* /////////////////// */

#wrap {
    overflow: hidden;
    position: relative;
    min-width: 1280px;
    min-height: 100%;
    padding: 140px 0 230px;
}
.wrap_active {
    padding-top: 141px;
}

/* ------헤더------- */

.header {
    min-width: 1280px;
    height: 141px;
    margin-top: 0;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    
    text-align: center;
    border-bottom: 1px solid #ffbc0d;
    background: #fff;
}
.headArea {
    width: 1168px;
    height: 100%;

    margin: 0 auto;
}

/* ------헤더 픽스드------ */

.header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 81px;
    z-index: 99999;
    transition: top 0.2s;
}
.header.fixed .h_logo img {
    height: 45px;
}
.header .h_logo a {
    display: block;
}
/* -------로고------- */

.h_logo {
    position: relative;
    top: 53%;
    float: left;
    z-index: 999999;
    transform: translateY(-50%);
}

/* ------메뉴------- */

.h_menu {
    height: 100%;
    /* padding: 52px 0; */

    position: relative;
    z-index: 99999;
}
.menu {
    position: absolute;
    top: 50%;
    left: 180px;
    /* right: 0; */
    text-align: center;
    background: #fff;
    transform: translateY(-50%);

    height: 100%;
    display: flex;
    align-items: center;
}
.dth {
    display: inline-block;
    padding-left: 0;
    text-align: left;
    vertical-align: top;
    /* margin-left: -136px; */

    height: 100%;
    display: flex;
    align-items: center;
}
.dth > li {
    height: 100%;
    display: flex;
    align-items: center;

    position: relative;
}
.dth1 {
    position: relative;
    margin-right: 85px;
    padding: 0 10px;
    color: #292929;
    font-size: 20px;
    /* line-height: 140px; */
    font-weight: 600;
}
.header .h_menu .menu .dth>li .dth1.current::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    border-bottom: 1px solid #000;
}
.depth2 {
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 9999;
    padding: 20px 10px;
    /* background: #fff; */
    display: none;
    font-family: 'NanumHumanEB';
    line-height: 48px;
}
.menu_pan {
    width: 100%;
    height: 400px;
    background-color: #fff;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #ffbc0d;

    position: absolute;
    left: 0;
    top: 100%;
    z-index: 999;

    display: none;
} 
.depth2.active,
.menu_pan.active {
    display: block;
}

/* -------유틸-------- */

.util {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.h_util {
    display: inline-block;
    width: 80px;
    padding-top: 2px;
    color: #fff;
    font-size: 13px;
    font-weight: 900;
    line-height: 34px;
    text-align: center;
    border-radius: 48px;
}
.renter {
    background: #db0007;
}
.recruit {
    background: #d87e00;
}
.lang {
    background: #264a36;
}
.t_search {
    display: inline-block;
}
.search {
    margin-left: 26px;
    width: 36px;
    height: 36px;
    text-decoration: none;
    text-indent: -9999px;
    background: url(../img/mc/ico_search.png) 0 0 no-repeat;
}

#container { width: 100%; }

/* ---------비쥬얼 영역---------- */

.visualArea {
    display: flex;
    position: relative;
    min-height: 220px;
    padding: 10px 0;
    color: #292929;
    text-align: left;
}
.visualArea:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .45);
}

.visualArea.bg {
    background: url(../img/mc3/bg_visual_whats02.jpg) 50% 50% no-repeat;
}


.visualArea .inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    margin: auto;
    padding-bottom: 15px;
    z-index: 9;
    color: #fff;
}
.inner {
    position: relative;
    width: 1168px;
    margin: 0 auto;
}

.visualArea .subCopy {
    min-height: 34px;
    margin-top: 20px;
    font-size: 18px;
    font-family: 'NanumHumanEB';
}

.visualArea .tit1 {
    display: block;
    line-height: 1;
    font-size: 50px;
    color: inherit;
}

.nav li+li:before {
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 14px 0 10px;
    vertical-align: middle;
    border-radius: 100%;
    background: #f5bd43;
}

.visualArea .nav {
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: 'NanumHumanEB';

}

.nav li {
    display: inline-block;
}

/* ----------메인 탑----------- */

.contArea {
    padding: 30px 0 220px;
}
.contArea>.inner {
    position: static !important;
}
.contArea>:first-child {
    margin-top: 0 !important;
}
.tabType1 {
    margin: 0 -40px 60px;
    text-align: center;
    font-family: 'NanumHumanBold';
}
.tabType1 li {
    display: inline-block;
    margin: 0 40px;
    vertical-align: top;
}
.tabType1 li a {
    display: block;
    height: 40px;
    font-size: 20px;
    line-height: 39px;
}
.tabType1 li a.on {
    color: #ff0000;
    font-weight: 900;
    border-bottom: 1px solid #ff0000;
    font-family: 'NanumHumanHeavy';
}
.mcMenu {
    position: relative;
}
.mcMenu .count {
    position: absolute;
    top: -45px;
    left: 0;
    color: #292929;
    font-size: 20px;
    line-height: 40px;
    font-family: 'NanumHumanBold_otf';
}
.mcMenu .count:before {
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: -2px 10px 0 0;
    vertical-align: middle;
    border-radius: 100%;
    background: #f5bd43;
}
/* ---------메인 브랜드 소개--------- */
/* 상단 */
/* 검색 */
.bbsSearch {
    float: right;
    margin-bottom: 30px;
}
.bbsSearch .srch input {
    width: 300px;
    height: 50px;
}
input[type='text'] {
    color: #292929;
    /* height: 70px; */
    padding: 0 28px;
    line-height: 1;
    border: 1px solid #d1d1d1;
    border-radius: 70px;
    background: #fff;
    float: left;
}
.bbsSearch .srch button {
    width: 50px;
    height: 50px;
    margin-left: 8px;
    overflow: hidden;
    text-indent: -9999px;
    background: url(../img/mc3/btn_search.png) 0 0 no-repeat;
}
legend {
    display: block;
    width: 0;
    height: 0;
    text-indent: -9000px;
    overflow: hidden;
}
/* 게시판 */
.mcBoard .count {
    line-height: 50px;
}
.bbsDetail .bbsTit h2 {
    width: 75%;
    font-size: 20px;
    color: #292929;
}
.mcBoard .bbsList {
    clear: both;
}
.bbsList {
    margin-top: 30px;
    border: solid #292929;
    border-width: 2px 0 1px;
}
.bbsList>li {
    border-top: 1px solid #d1d1d1;
}
.bbsList>li.notice {
    background: #f8f8f8;
}
.bbsList>li:first-child {
    border-top: 0;
}
.bbsList>li>a {
    display: table;
    width: 100%;
    padding: 25px 0;
}
.bbsList>li>a .bNum {
    display: table-cell;
    width: 11%;
    text-align: center;
}
.bbsList>li.notice .ico {
    display: inline-block;
    width: 25px;
    height: 19px;
    overflow: hidden;
    text-indent: -9999px;
    vertical-align: middle;
    background: url(../img/mc3/ico_notice.png) 0 0 no-repeat;
}
.bbsList>li>a .bSubject {
    display: table-cell;
    padding: 0 45px;
}
.bbsList>li>a .bSubject .tit {
    display: inline-block;
    color: #292929;
}
.bbsList>li>a .bDate {
    display: table-cell;
    width: 19%;
    text-align: center;
    font-family: 'NanumHumanEB';
}
/* 게시판 */
.bbsDetail .bbsTit {
    display: table;
    width: 100%;
    padding-bottom: 30px;
    border-bottom: 5px solid #292929;
}
.bbsDetail .bbsTit > * {
    display: table-cell;
    vertical-align: bottom;
}
.bbsDetail .bbsTit .date {
    width: 25%;
    padding-bottom: 7px;
    text-align: right;
}
.bbsDetail .bbsTit .date em {
    font-size: 24px;
    line-height: 1;
}
.bbsDetail .bbsCon {
    padding: 50px 0 60px;
    border-bottom: 1px solid #292929;
    font-family: 'NanumHumanEB';
}
/* .bbsDetail .bbsCon img {
    width: 100%;
} */
.bbsDetail .btnArea {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
.bbsDetail .bbsTit .date em + em:before {
    display: inline-block;
    content: '';
    width: 1px;
    height: 18px;
    margin: -2px 13px 0 15px;
    background: #d1d1d1;
    vertical-align: middle;
}
.btnArea {
    margin-top: 100px;
    text-align: center;
}
.btnArea .btnMC {
    margin: 0 12px;
}
.btnM {
    min-width: 172px;
    padding: 0 38px;
    font-size: 15px;
    line-height: 70px;
    border-radius: 70px;
}
.btnMC {
    display: inline-block;
    color: #292929;
    font-weight: 600;
    background: #ffbc0d;
}
/*  */
.brandCont1 {
    padding-bottom: 100px;
    border-bottom: 1px solid #d1d1d1;
}
.brandCont1 .img {
    margin-bottom: 45px;
}
.brandCont1 .titDep2 {
    line-height: 1.3;
}
.titDep2 {
    display: block;
    color: #292929;
    margin: 0 0 30px;
    font-size: 30px;
}
.txtInfo {
    font-family: 'NanumHumanEB';
}

/* 하단 */
.titDep3 {
    display: block;
    color: #292929;
    margin: 100px 0 30px;
    font-size: 30px;
    line-height: 1;
}
.brandCont2 .socialList {
    margin: 0;
    padding: 0;
    border-top: 0;
}
.socialList ul {
    margin: -80px 0 0 -50px;
}
.socialList ul li:nth-child(2n + 1) {
    clear: left;
}
.socialList ul li {
    float: left;
    width: 559px;
    margin: 80px 0 0 50px;
}
.socialList ul li .thum, 
.socialList li strong {
    display: block;
}
.socialList ul li strong {
    font-size: 24px;
    color: #292929;
    margin: 30px 0 3px;
}
.socialList ul:after {
    content: '';
    display: block;
    clear: both;
}

/* ---------메인 메뉴 소개----------- */

/* .menuList {
    margin: 0 0 -35px -35px;
}
.menuList:after {
    content: '';
    display: block;
    clear: both;
}
.menuList li {
    float: left;
    width: 366px;
    height: 352px;
    margin: 0 0 35px 35px;
}
.menuList li a {
    display: block;
    height: 100%;
    padding: 20px 30px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #f8f8f8;
    background: #f8f8f8;
}
.menuList li .name {
    margin-top: 16px;
}
.menuList li .name .ko {
    display: block;
    color: #292929;
    font-size: 20px;
    font-family: 'NanumHumanBold';
    font-weight: 700;
    line-height: 1.3;
}
.menuList li .name .en {
    display: block;
    margin-top: 12px;
    font-size: 15px;
    line-height: 1.3;
    font-family: 'NanumHumanBold';
} */

/* ----------사이드 메뉴------------ */

.aside {
    position: fixed;
    top: 56%;
    left: 49%;
    width: 121px;
    height: 300px;
    margin: 0 0 0 635px;
    z-index: 999;
}
.btn_story {
    display: block;
    width: 121px;
    height: 121px;
    overflow: hidden;
    background: url(../img/mc2/btn_story_04.png) no-repeat center 0;
    margin-bottom: 20px;
}
.btn_delivery {
    display: block;
    width: 121px;
    height: 121px;
    overflow: hidden;
    background: url(../img/mc2/btn_delivery_04.png) no-repeat 0 0;
    background-size: cover;
}
.btnTop {
    display: block;
    width: 51px;
    height: 48px;
    background: url(../img/mc2/btn_top_04.png) no-repeat 0 14px;
    margin-left: 30px;
    /* font-size: 1px; */
    /* z-index: 999; */
}

/* ----------푸터---------- */

#wrap footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.footer {
    color: #fff;
    font-size: 14px;
    line-height: 1.6;
    text-align: center;
    background: #292929;
}
.footer .footArea {
    width: 1168px;
    margin: 0 auto;

    padding: 45px 0 55px;
    text-align: left;    
}
/* .footArea {
    width: 1168px;
    margin: 0 auto;
} */

/* --------푸터 유틸------- */

.fUtil {
    float: left;
    width: 190px;
    font-family: 'NanumHumanBold_otf';
}
.privacy {
    color: yellow;
}
.footer .fUtil li+li {
    margin-top: 5px;
}

/* --------푸터 sns-------- */

.fSns {
    float: right;
}
.footer .fSns li {
    float: left;
    margin-left: 20px;
}
.footer .fSns a {
    display: block;
    width: 40px;
    height: 40px;
    overflow: hidden;
    text-indent: -9999px;
    background: url(../img/mc/ico_sns.png) 0 0 no-repeat;
}
.footer .fSns a.fb {
    background-position: 0 0;
}
.footer .fSns a.ig {
    background-position: 0 -40px;
}
.footer .fSns a.yt {
    background-position: 0 -80px;
}
.footer .fSns a.ks {
    background-position: 0 -120px;
}
.footer .fSns .web_acc {
    margin-top: -5px;
}
.footer .fSns .web_acc a {
    width: 100px;
    height: 71px;
    text-indent: 0;
    background: none;
}
.footer .fSns .web_acc a img {
    width: 100%;
}
/* ------푸터 인포------ */
.footer .fInfo {
    float: left;
    font-family: 'NanumHumanLight';
    font-weight: 300;
    opacity: 0.6;
}
.footer .fInfo .info li+li {
    margin-top: 5px;
}
.footer .fInfo .copy {
    margin-top: 5px;
}
/* ------푸터 인증범위표기------- */
.footer .f_isms {
    float: right;
    width: 340px;
    margin-top: 24px;

    font-family: 'NanumHumanEL_otf';
}
.footer .f_isms .icon {
    float: left;
    width: 60px;
    height: 60px;
    background-color: #fff;
    margin-right: 15px;
    border-radius: 5px;
}
.footer .f_isms .icon img {
    width: 100%;
}
.footer .f_isms p {
    font-size: 11px;
    font-weight: normal;
}
.footer .f_isms .date {
    padding-top: 6px;
}
/* ----푸터마침----- */
.footer .footArea:after {
    content: '';
    display: block;
    clear: both;
}